*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.movietitlequote{
    text-align: center;
}

.moviename{
    text-align: center;
}

.movietitle{
    align-self: center;
    max-width: 100%;
    color: #d58b3c;
    margin-top: 15px;
    margin-left: 15px;
}

img{
    width: 100%;
    display:block;
    margin: auto;
    border-radius: 6%;
}
______________________________
.taylorswifttitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taylorswiftimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content1{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content1:hover{
    opacity: 1;
}

.content1 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content1 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content1:hover >*{
    transform: translateY(25px);
}

______________________________
.pawpatrolthemightymovietitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pawpatrolthemightymovieimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 13cm;
    float: left;
}

.content2{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content2:hover{
    opacity: 1;
}

.content2 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content2 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content2:hover >*{
    transform: translateY(25px);
}

______________________________
.theexorcistbelievertitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theexorcistbelieverimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 26cm;
    float: left;
}

.content3{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content3:hover{
    opacity: 1;
}

.content3 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content3 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content3:hover >*{
    transform: translateY(25px);
}

______________________________
.killersoftheflowermoontitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.killersoftheflowermoonimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content4{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content4:hover{
    opacity: 1;
}

.content4 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content4 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content4:hover >*{
    transform: translateY(25px);
}

______________________________
.trollstitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trollsimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 13cm;
}

.content5{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content5:hover{
    opacity: 1;
}

.content5 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content5 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content5:hover >*{
    transform: translateY(25px);
}

______________________________
.fivenightsatfreddystitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fivenightsatfreddysimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 26cm;
}

.content6{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content6:hover{
    opacity: 1;
}

.content6 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content6 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content6:hover >*{
    transform: translateY(25px);
}

______________________________
.topgunmavericktitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topgunmaverickimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content7{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content7:hover{
    opacity: 1;
}

.content7 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content7 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content7:hover >*{
    transform: translateY(25px);
}

______________________________
.everythingeverywhereallatoncetitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.everythingeverywhereallatonceimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 13cm;
    float: left;
}

.content8{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content8:hover{
    opacity: 1;
}

.content8 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.content8 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content8:hover >*{
    transform: translateY(25px);
}