*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.movietitlequote{
    text-align: center;
    margin-top: 0.1cm;
}

.moviename{
    text-align: center;
    font-size: 14px;
}

.newreleases{
    align-self: center;
    max-width: 100%;
    color: #d58b3c;
    margin-top: 15px;
    margin-left:0.3cm;
}

.top2022movies{
    align-self: center;
    max-width: 100%;
    color: #d58b3c;
    margin-top: 15px;
    margin-left:0.3cm;
}

img{
    width: 100%;
    display:block;
    margin: auto;
}

nav{
    width: 100%;
    height: 90px;
    background-color:#d58b3c;
    box-shadow: 1px 1px 3px #000000;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}

ul{
    margin-left:30cm;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 90px;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 0 20px;
}

ul li a:hover{
    color: rgb(255, 255, 255);
}

.movie-item {
    width: 450px;
    position: relative;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
}

/* -------------------------------------
 *  TAYLOR SWIFT THE ERAS TOUR
 * -------------------------------------
 */

.taylorswiftimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.2cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image1logo{
    margin-top: 1.7cm;
    margin-left: 0.5cm;
    width: 43%;
    height:43%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image1logo:hover{
    opacity: 1;
}

.image1logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image1logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  PAW PATROL
 * -------------------------------------
 */

 .pawpatrolthemightymovieimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.8cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image2logo{
    margin-top: 1cm;
    margin-left: 1cm;
    width: 35%;
    height:55%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image2logo:hover{
    opacity: 1;
}

.image2logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image2logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  THE EXORCISIST BELIEVER
 * -------------------------------------
 */

 .theexorcistbelieverimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image3logo{
    margin-top: 3cm;
    margin-left: 4.5cm;
    width: 50%;
    height:50%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image3logo:hover{
    opacity: 1;
}

.image3logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image3logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  KILLERS OF THE FOLLOW MOON
 * -------------------------------------
 */


.killersoftheflowermoontitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.killersoftheflowermoonimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content4{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content4:hover{
    opacity: 1;
}

.content4 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content4 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content4:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  TROLLS
 * -------------------------------------
 */

.trollstitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trollsimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 1.5cm;
}

.content5{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content5:hover{
    opacity: 1;
}

.content5 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content5 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content5:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  FIVE NIGHTS AT FREDDYS
 * -------------------------------------
 */

.fivenightsatfreddystitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fivenightsatfreddysimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 3cm;
}

.content6{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content6:hover{
    opacity: 1;
}

.content6 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content6 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content6:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  EVERYTHING EVERYWHEREALL ALL AT ONCE
 * -------------------------------------
 */

 .everythingeverywhereallatoncetitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.everythingeverywhereallatonceimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content7{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content7:hover{
    opacity: 1;
}

.content7 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content7 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content7:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  TOP GUN MAVERICK
 * -------------------------------------
 */

.topgunmavericktitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topgunmaverickimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 1.5cm;
}

.content8{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content8:hover{
    opacity: 1;
}

.content8 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content8 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content8:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  THE BATMAN
 * -------------------------------------
 */

 .thebatmantitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thebatmanimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 3cm;
}

.content9{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content9:hover{
    opacity: 1;
}

.content9 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content9 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content9:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  TILL
 * -------------------------------------
 */

 .tilltitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tillimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 1.5cm;
}

.content11{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content11:hover{
    opacity: 1;
}

.content11 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content11 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content11:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  THE WOMAN KING
 * -------------------------------------
 */

 .thewomankingtitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thewomankingimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 3cm;
}

.content12{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content12:hover{
    opacity: 1;
}

.content12 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content12 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content12:hover >*{
    transform: translateY(25px);
}
/* -------------------------------------
 *  Prey
 * -------------------------------------
 */

 .preytitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preyimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content13{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content13:hover{
    opacity: 1;
}

.content13 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content13 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content13:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  AFTERSUN
 * -------------------------------------
 */

.aftersuntitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.aftersunimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content10{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content10:hover{
    opacity: 1;
}

.content10 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content10 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content10:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  TAR
 * -------------------------------------
 */

 .tartitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 1.5cm;
}

.content11{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content11:hover{
    opacity: 1;
}

.content11 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content11 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content11:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  THE FABELMANS
 * -------------------------------------
 */

 .thefabelmanstitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thefabelmansimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 3cm;
}

.content12{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content12:hover{
    opacity: 1;
}

.content12 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content12 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content12:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  AVATAR THE WAY OF WATER
 * -------------------------------------
 */

 .avatarthewayofwatertitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarthewayofwaterimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 0.3cm;
}

.content13{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content13:hover{
    opacity: 1;
}

.content13 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content13 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content13:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  NOPE
 * -------------------------------------
 */

 .nopetitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nopeimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 1.5cm;
}

.content14{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content14:hover{
    opacity: 1;
}

.content14 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content14 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content14:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  ELVIS
 * -------------------------------------
 */

 .elvistitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elvisimg{
    width: 450px;
    position: relative;
    margin-top: 35px;
    margin-left: 3cm;
}

.content15{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content15:hover{
    opacity: 1;
}

.content15 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #ffffff;
}

.content15 >*{
    transform: translate(25px);
    transition: 0.6s;
}

.content15:hover >*{
    transform: translateY(25px);
}