*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------
 *  Logo
 * -------------------------------------
 */

.busy-bee-logo{
    width: 30cm;
    height:20cm;
    top: 0;
    left: 0;
    position: absolute;
}

/* -------------------------------------
 *  Top 2021 movies
 * -------------------------------------
 */

 .top2021movies{
    align-self: center;
    max-width: 100%;
    color: #ae634c;
    margin-top: 1cm;
    margin-left:0.3cm;
    font-family: monospace;
    font-size: 0.7cm;
}

/* -------------------------------------
 *  Top 2022 movies
 * -------------------------------------
 */

.top2022movies{
    align-self: center;
    max-width: 100%;
    color: #ae634c;
    margin-top: 32px;
    margin-left:0.3cm;
    font-family: monospace;
    font-size: 0.7cm;
}

img{
    width: 100%;
    display:block;
    margin: auto;
}

nav{
    position: relative;
    width: 100%;
    height: 90px;
    background-color:#ae634c;
}

ul{
    margin-left:21cm;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 90px;
    padding: .5em .75em;
    border: none;
    border-radius: .25em;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 0 20px;
}

ul li a:hover{
    color: #436cae(255, 255, 255);
}

.movie-item {
    width: 450px;
    position: relative;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
}

/* -------------------------------------
 *  EVERYTHING EVERYWHEREALL ALL AT ONCE
 * -------------------------------------
 */

.everythingeverywhereallatonceimg{
    width: 450px;
    position: relative;
    margin-top: 12px;
    margin-left: 0.2cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image7logo{
    margin-top: 2cm;
    margin-left: 1cm;
    width: 40%;
    height:40%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image7logo:hover{
    opacity: 1;
}

.image7logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image7logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  TOP GUN MAVERICK
 * -------------------------------------
 */

 .topgunmaverickimg{
    width: 450px;
    position: relative;
    margin-top: 12px;
    margin-left: 0.8cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image8logo{
    margin-top: 1.5cm;
    margin-left: 1.2cm;
    width: 35%;
    height:35%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image8logo:hover{
    opacity: 1;
}

.image8logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image8logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  THE BATMAN
 * -------------------------------------
 */

.thebatmanimg{
    width: 450px;
    position: relative;
    margin-top: 12px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image9logo{
    margin-top: 1.5cm;
    margin-left: 2cm;
    width: 40%;
    height:40%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image9logo:hover{
    opacity: 1;
}

.image9logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image9logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  AFTERSUN
 * -------------------------------------
 */

 .aftersunimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 0.2cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image10logo{
    margin-top: 3cm;
    margin-left: 6.5cm;
    width: 40%;
    height:10%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image10logo:hover{
    opacity: 1;
}

.image10logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image10logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  TAR
 * -------------------------------------
 */

 .tarimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 0.8cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image11logo{
    margin-top: 0.2cm;
    margin-left: 5.3cm;
    width:20%;
    height:35%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image11logo:hover{
    opacity: 1;
}

.image11logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image11logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  THE FABELMANS
 * -------------------------------------
 */

 .thefabelmansimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image12logo{
    margin-top: 5cm;
    margin-left: 4.5cm;
    width: 50%;
    height:20%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image12logo:hover{
    opacity: 1;
}

.image12logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image12logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  AVATAR THE WAY OF WATER
 * -------------------------------------
 */

 .avatarthewayofwaterimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 0.2cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image13logo{
    margin-top: 1.7cm;
    margin-left: 1cm;
    width: 55%;
    height:50%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image13logo:hover{
    opacity: 1;
}

.image13logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image13logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  NOPE
 * -------------------------------------
 */

 .nopeimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 0.8cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image14logo{
    margin-top: 4cm;
    margin-left: 5cm;
    width: 30%;
    height:30%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image14logo:hover{
    opacity: 1;
}

.image14logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image14logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  ELVIS
 * -------------------------------------
 */

 .elvisimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image15logo{
    margin-top: 2.5cm;
    margin-left: 8cm;
    width: 30%;
    height:30%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image15logo:hover{
    opacity: 1;
}

.image15logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image15logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  SPIDEERMAN: NO WAY HOME
 * -------------------------------------
 */

 .spidermanimg{
    width: 450px;
    position: relative;
    margin-top: 50px;
    margin-left: 0.2cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image16logo{
    margin-top: 2cm;
    margin-left: 0.8cm;
    width: 45%;
    height:45%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image16logo:hover{
    opacity: 1;
}

.image16logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image16logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  Raya and the Last Dragon
 * -------------------------------------
 */

 .rayaandthelastdragonimg{
    width: 450px;
    position: relative;
    margin-top: 50px;
    margin-left: 0.8cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image17logo{
    margin-top: 1.8cm;
    margin-left: 1.2cm;
    width: 45%;
    height:45%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image17logo:hover{
    opacity: 1;
}

.image17logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image17logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  West Side Story
 * -------------------------------------
 */

 .westsidestoryimg{
    width: 450px;
    position: relative;
    margin-top: 50px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image18logo{
    margin-top: 1.8cm;
    margin-left: 1.8cm;
    width: 35%;
    height:35%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image18logo:hover{
    opacity: 1;
}

.image18logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image18logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  FOOTER
 * -------------------------------------
 */

 .footer{
    color: #22233B;
    font-size: .9em;
    padding: 1.10em 1em;
}