*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------
 *  2021 movies
 * -------------------------------------
 */

 .movies2021{
    position:relative;
    align-self: center;
    max-width: 100%;
    color: #ae634c;
    margin-top: 32px;
    margin-left:0.3cm;
    font-family: monospace;
    font-size: 0.7cm;
}

/* -------------------------------------
 *  2022 movies
 * -------------------------------------
 */

.movies2022{
    position:relative;
    align-self: center;
    max-width: 100%;
    color: #ae634c;
    margin-top: 32px;
    margin-left:0.3cm;
    font-family: monospace;
    font-size: 0.7cm;
}

nav{
    position: relative;
    width: 100%;
    height: 90px;
    background-color:#ae634c;
}

ul{
    margin-left:21cm;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 90px;
    padding: .5em .75em;
    border: none;
    border-radius: .25em;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 0 20px;
}

ul li a:hover{
    color: #436cae(255, 255, 255);
}

/* -------------------------------------
 *  The Batman
 * -------------------------------------
 */

 .thebatmanimg{
    width: 450px;
    position: relative;
    margin-top: 13px;
    margin-left: 0.2cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image9logo{
    margin-top: 1.7cm;
    margin-left: 0.5cm;
    width: 43%;
    height:43%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image9logo:hover{
    opacity: 1;
}

.image9logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image9logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  The Fabelmans
 * -------------------------------------
 */

 .thefabelmansimg{
    width: 450px;
    position: relative;
    margin-top: 13px;
    margin-left: 0.8cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image12logo{
    margin-top: 5cm;
    margin-left: 4.5cm;
    width: 50%;
    height:20%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image12logo:hover{
    opacity: 1;
}

.image12logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image12logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  AVATAR THE WAY OF WATER
 * -------------------------------------
 */

.avatarthewayofwaterimg{
    width: 450px;
    position: relative;
    margin-top: 13px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image13logo{
    margin-top: 3cm;
    margin-left: 4.5cm;
    width: 50%;
    height:50%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image13logo:hover{
    opacity: 1;
}

.image13logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image13logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  SPIDERMAN: NOW WAY HOME
 * -------------------------------------
 */

 .spidermanimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 0.2cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image16logo{
    margin-top: 2.3cm;
    margin-left: 0.7cm;
    width: 45%;
    height:45%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image16logo:hover{
    opacity: 1;
}

.image16logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image16logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  Shang Chi and the Legand of the Ten Rings
 * -------------------------------------
 */

 .shangchiandthelegendofthetenringsimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image22logo{
    margin-top: 2cm;
    margin-left: 8.4cm;
    width: 40%;
    height:40%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image22logo:hover{
    opacity: 1;
}

.image22logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image22logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  Luca
 * -------------------------------------
 */

 .lucaimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 0.8cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image23logo{
    margin-top: 1cm;
    margin-left: 8.5cm;
    width: 35%;
    height:35%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image23logo:hover{
    opacity: 1;
}

.image23logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image23logo:hover >*{
    transform: translateY(25px);
}

/* -------------------------------------
 *  FIVE NIGHTS AT FREDDYS
 * -------------------------------------
 */

 .fivenightsatfreddysimg{
    width: 450px;
    position: relative;
    margin-top: 21px;
    margin-left: 1.5cm;
    border-radius: 6%;
    filter:drop-shadow(1px 1px 3px #777777)
}

.image6logo{
    margin-top: 2cm;
    margin-left: 8.4cm;
    width: 40%;
    height:40%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0,6);
    display: flex;
    opacity: 0;
    transition: 0.6s;
}

.image6logo:hover{
    opacity: 1;
}

.image6logo >*{
    transform: translate(25px);
    transition: 0.6s;
}

.image6logo:hover >*{
    transform: translateY(25px);
}